#Otsikko{
    color: blue;
    margin-bottom: 0px;
    padding:0px;
    background-color:black;
}

#valikko{
    padding:0px 0px 0px 0px;
    
    color:red;
}
html, body { height: 100%; 
             margin: 0; 
             padding: 0; }
#map { 
    height: 100%; 
}

ul#menu li {
    display:inline;
    margin:0;
    padding: 0;
}
