#Otsikko{
    color: blue;
    margin-bottom: 0px;
    padding:0px;
    width:200px;
}

#valikko{
    padding: 0px;
    color:red;
    width:300px;
   
}
html, body { height: 100%; 
             width: 100%;
             margin: 0; 
             padding: 0; }
#map { 
    height: 100%; 
}

ul#menu li {
    display:inline;
    margin:0;
    padding: 0;
}
